@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(Background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 94vh;
    margin: 0 0 50px;
}

.chat-wrapper {
    background-color: white;
    margin-top: 50px;
    max-width: 80rem;
    height: 84vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px 50px 15px black;
}

.chat-wrapper ul li {
    margin: 5px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #cc99ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

#AddPeople,
#LeaveChat {
    font-size: 40px;
    border: none;
    color: white;
    background-color: Transparent;
}

#AddPeople {
    margin-left: 50px;
}

#LeaveChat {
    margin-right: 50px;
}

.functions-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #e6ccff;
}

.functions-header button {
    color: grey;
    font-size: 40px;
    border: none;
    background-color: Transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

main #messageBox {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
}

main .message {
    background-color: #d9b3ff;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    color: black;
    display: flex;
    font-size: 20px;
}

main .message .username {
    color: white;
    padding-right: 15px;
}

main .message .date-time,
.text {
    padding-right: 15px;
}

main .message .date-time {
    font-size: 15px;
}

.likes {
    color: white;
}

.likes i {
    color: #e6005c;
}

.likes i:hover {
    color: grey;
}

main .sendMessage {
    background-color: #cc99ff;
    height: 60px;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .sendMessage input {
    border-radius: 12px;
    border: 1px solid grey;
    padding-left: 20px;
    background-color: white;
    font-size: 20px;
    height: 80%;
    width: 80%;
    margin-top: 5px;
    margin-left: 120px;
}

#AddPeople:hover,
#LeaveChat:hover,
.groupChatBox button:hover {
    color: black;
}

ul {
    list-style: none;
}

#groups-wrapper,
#notification-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 30%;
    background-color: #cc99ff;
    border-radius: 50px;
    box-shadow: 0px 0px 30px #000000;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#groups-wrapper nav ul,
#notification-section nav ul {
    margin: 0px;
    padding: 5px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}

#groups-wrapper .chats-title,
#notification-section .groupList {
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 30px;
}

#groups-wrapper nav li,
#notification-section nav li {
    background-color: #d9b3ff;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#groups-wrapper nav li .chatName,
#notification-section nav li .chatName {
    font-weight: bold;
    color: grey;
    font-size: 20px;
    margin: 10px;
    overflow: hidden;
}

#groups-wrapper nav li:hover,
#notification-section nav li:hover {
    background-color: black;
}

#groups-wrapper nav li p:hover,
#notification-section nav li p:hover {
    color: white;
}

.exit {
    border: none;
    background: transparent;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.exit:hover {
    color: black;
}

#AddnewGroup,
#AddNewPerson,
#requests-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    background-color: #cc99ff;
    max-width: 27rem;
    width: 80%;
    border-radius: 50px;
    box-shadow: 0px 0px 30px #000000;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.create-new-group,
.find-new-group,
.find-person {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

#AddnewGroup input,
#AddNewPerson input,
#edit-message-section input {
    width: 80%;
    padding: 8px 6px;
    border-radius: 12px;
    border: none;
}

#AddnewGroup .create,
.find,
.ask-question {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#AddnewGroup .float-right,
#AddNewPerson .float-right,
#yesButton,
#noButton {
    border-radius: 12px;
    padding: 8px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

#AddnewGroup .float-right:hover,
#AddNewPerson .float-right:hover,
#yesButton:hover,
#noButton:hover,
.new-message .float-right:hover {
    background-color: black;
    color: white;
}

#AddnewGroup #exit-new-group {
    padding-top: 50px;
}

#AddNewPerson #exit-new-person {
    padding-top: 30px;
}

#requests-section {
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    max-height: 30vh;
}

#requests-section ul {
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: -10px;
    overflow-y: scroll;
}

#requests-section li {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin: 0px;
    padding: 5px;
}

#requests-section li p {
    margin: 0px;
    padding-right: 10px;
}

#edit-message-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    background-color: #cc99ff;
    max-width: 22rem;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0px 0px 30px #000000;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
}

#edit-message-section p {
    font-size: 30px;
    padding-left: 20px;
    margin-bottom: -30px;
}

#edit-message-section input {
    margin-left: 10px;
}

#AddnewGroup,
#AddNewPerson,
#requests-section,
#notification-section,
#groups-wrapper,
#edit-message-section {
    display: none;
}

.new-message .float-right {
    border-radius: 18px;
    padding: 8px;
    border: none;
    color: black;
    background-color: transparent;
}

.new-message .float-right i {
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cc99ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-device-width: 667px),
screen and (max-width: 450px) {

    body,
    main {
        height: 100vh;
    }

    main .sendMessage {
        height: 20%;
    }
}